[submodule "carta-protobuf"]
	path = carta-protobuf
	url = https://github.com/CARTAvis/carta-protobuf.git
[submodule "carta-scripting-grpc"]
	path = carta-scripting-grpc
	url = https://github.com/CARTAvis/carta-scripting-grpc
[submodule "uWebSockets"]
	path = uWebSockets
	url = https://github.com/uNetworking/uWebSockets.git
[submodule "cxxopts"]
	path = cxxopts
	url = https://github.com/jarro2783/cxxopts
