version: 2.0
jobs:
  "ubuntu":
    docker:
      - image: ajmasiaa/carta-backend-builder-ubuntu-may2020
    steps:
      - checkout
      - run:
          name: "prepare submodules"
          command: |
            git submodule init
            git submodule update
      - run:
          name: "build ubuntu carta_backend"
          command: mkdir build && cd build && cmake .. && make && ls && cp /scripts/package_ubuntu.sh . && ./package_ubuntu.sh carta_backend && ls -sort
      - run:
          name: "run Xvfb"
          command: Xvfb -ac :99 -screen 0 1280x1024x16 +extension RANDR > /dev/null 2>&1
          background: true
      - run:
          name: "run the ICD tests"
          command: |
            source /emsdk/emsdk_env.sh
            cd /root/project/build && wget http://alma.asiaa.sinica.edu.tw/_downloads/ICD-tests-circleci.tgz && tar -xvf ICD-tests-circleci.tgz
            cd /root/project/build/package/bin && ./run.sh /root/project/build/ICD-tests-circleci &
            cd /root/project/build/ICD-tests-circleci/protobuf && git submodule init && git submodule update && npm install && ./build_proto.sh && cd ..
            ./run-circle.sh
            echo "Finished !!!"
  "centos6":
    docker:
      - image: ajmasiaa/carta-backend-builder-centos6-may2020
    steps:
      - checkout
      - run:
          name: "prepare submodules"
          command: |
            git submodule init
            git submodule update
      - run:
          name: "build centos6 carta_backend"
          command: source /opt/rh/devtoolset-8/enable && mkdir build && cd build && cmake .. -DCMAKE_CXX_STANDARD_LIBRARIES="-lstdc++fs" && make && ls && cp /scripts/package_centos6.sh . && ./package_centos6.sh carta_backend && ls -sort
      - run:
          name: "run Xvfb"
          command: Xvfb -ac :99 -screen 0 1280x1024x16 +extension RANDR > /dev/null 2>&1
          background: true
      - run:
          name: "run the ICD tests"
          command: |
            source /opt/rh/devtoolset-8/enable && source scl_source enable python27 && source /emsdk/emsdk_env.sh
            cd /root/project/build && wget http://alma.asiaa.sinica.edu.tw/_downloads/ICD-tests-circleci.tgz && tar -xvf ICD-tests-circleci.tgz
            cd /root/project/build/package/bin && ./run.sh /root/project/build/ICD-tests-circleci &
            cd /root/project/build/ICD-tests-circleci/protobuf && git submodule init && git submodule update && npm install && ./build_proto.sh && cd ..
            ./run-circle.sh
            echo "Finished !!!"
  "format check":
    docker:
      - image: ajmasiaa/carta-backend-format-checker
    steps:
      - checkout
      - run:
          name: "checking the formatting of the carta_backend code"
          command: |
            ./scripts/checkformat.sh
            echo "Finished"
      - run:
          name: "checking the copyright and licence headers in the carta_backend code"
          command: |
            ./scripts/headers.py check
            echo "Finished"
workflows:
  version: 2
  build:
    jobs:
      - "ubuntu"
      - "centos6"
      - "format check"
